{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Price (per share)</th>
            </tr>
        </thead>
        <tr class="table-primary">
            <td>{{ stock.name }}</td>
            <td>{{ stock.symbol}}</td>
            <td>{{ stock.price }}</td>
        </tr>
    </table>

{% endblock %}
